@charset "utf-8";
@import "compass";
@import "reset";
@import "mixins";

body {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
  background: $darkest;
  color: $lightest; 
}

//preload images
//body:after{
//    display:none;
//    content: url(../images/screenshot-instagram-bs.jpg);
//}
//
//@-webkit-keyframes welcome {
//  from {
//    -webkit-transform: scale(0);
//    opacity: 0;
//  }
//  50% {
//   -webkit-transform: scale(0);
//   opacity: 0;
//  }
//  82.5% {
//    -webkit-transform: scale(1.03);
//    -webkit-animation-timing-function: ease-out;
//    opacity: 1;
//  }
//  to {
//    -webkit-transform: scale(1);
//  }
//}

//.test-section {
//  background: #666;
//}
//
//.test-module {
//  background: red;
//  height: 200px;
//  width: 200px;
//}
//
.test-section {
  background: black;
}

.wrap {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
  overflow: hidden;
}



h3 {
	font-size: 40px;
}

a {
	color: $middle;
}


header {
  padding-top: 40px;
  background: $darkest;
  background: url(../images/hero.jpg) no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  nav {
    height: 50px;
    background: transparentize($darkest, .1);
    width: 100%;
    margin-bottom: 60px;
    overflow: visible;
    position: relative;
    .logo {
      position: absolute;
      height: 78px;
      padding-left: 78px;
      line-height: 78px;
      float: left;
      top: -14px;
      background: url(../images/bullshit-sheriff-logo.png) no-repeat left center;
      @include image-2x("../images/bullshit-sheriff-logo@2x.png", 68px, 78px);
      overflow: visible;
    }
    ul {
      float: right;
      li {
        float: right;
      }
    }
  }
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
	padding: 0 0 40px 0;
  h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
  }
  p {
    text-align: center;
  }
  }
}

section {
  padding: 20px 0 0 0;
  .explainer-bullshit {
	  overflow: hidden;
  }
  .module-wrap {
  	background: blue;
  	margin: 0 auto;
  	.module-screen {
  	    -webkit-background-size: cover;
  	    -moz-background-size: cover;
  	    -o-background-size: cover;
  	    background-size: cover;
  		width: 100%;
  		height: 100%;
		@include transition-all;
  	}
  }
}

.phone-module-wrap {
	height: 420px;
	width: 280px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding: 40px 15px 0 15px;
	.phone-module {
		background-image: url(../images/screenshot-instagram.jpg);
	}
	.frame-instagram-truth {
		background-image: url(../images/screenshot-instagram-bs.jpg);
	}	
}

.monitor-module-wrap {
	height: 200px;
	width: 300px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	float: left;
	padding: 15px 15px 15px 10px;
	.monitor-module {
	 	background-image: url(../images/screenshot-facebook.jpg);	
	}
	.frame-facebook-truth {
		background-position: center bottom;
	}
}

.action-items {
	.col-left{
		float: left;
		width: 50%;
		.col-wrap {
			padding-right: 20px;
		}
	}
	.col-right{
		float: right;
		width: 50%;
		.col-wrap {
			padding-left: 20px;
		}
	}

}

form {
	label {
		display: block;
	}
	input {
		background: $middle;
		border: none;
		display: block;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
		padding: 0;
	}
	input[type="submit"] {
		background: red;
		color: $lightest;
		padding: 10px 20px;
		display: inline-block;
		width: auto;
		float: right;
	}
}

footer {
	background: green;
	padding: 20px 0;
}

//
//From Tomwahlin.com

//h1 {
//  position: absolute;
//  left: 20px;
//  padding-top: 38px;
//  width: 46px;
//  top: 65px;
//  @include breakpoint(large) {
//    left: 50%;
//    margin-left: -23px;
//  }
//  a {
//    background: url(../img/build/logo-tom-wahlin.png) no-repeat center;
//    @include image-2x("../img/build/logo-tom-wahlin@2x.png", 46px, 38px);
//    position: absolute;
//    padding-top: 38px;
//    width: 46px;
//    top:0;
//    right: 0;
//    @include hide-text;
//  }
//}
