<section>
<footer>
  <div class="wrap">
    <p>By <a target="_blank" href="https://twitter.com/twahlin">Tom Wahlin</a> and <a target="_blank" href="https://twitter.com/cbroeckert">Cassie Broeckert</a></p> 
  </div>
</footer>
</section>