<div class="header">
  <nav>
    <div class="wrap">
      <a class="logo" href="http://bullshitsheriff.com/"><h1>Bullshit Sheriff</h1></a>
      <ul>
        <li><div class="fb-share-button" data-href="http://bullshitsheriff.com" data-layout="button_count"></div></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bullshitsheriff.com" data-text="Detect Bullshit!" data-hashtags="bullshitsheriff">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
      </ul>
    </div>
  </nav>
  <div class="wrap">
    <div class="hero-content">
      <h2>Social Media</h2>
      <p>“XYZ” A place you can visit to feel good about yourself. Everyone knows your friends are posting fake ass bullshit on their timelines anyways. Becky didn’t go home with prince charming last night (she totally photoshopped that photo of eric skarsard in her bed). That bitch went home and ordered a burrito on seamless, you know she did.</p>
    </div>
  </div>
</div>