---
title: Welcome to Middleman
---

<section class="how-it-works">
	<div class="wrap">
	<h3>How it works</h3>
	<ul>
		<li><span class="how-icon"></span><p>Sign up and tell us who reeks of bullshit on your social channels.</p></li>
		<li><span class="how-icon"></span><p>Our SSBSTF (Super Secret Bullshit Task Force) will troll your friend’s posts and conduct a full <strong>BS Investigation.</strong>&reg;</p></li>
		<li><span class="how-icon"></span><p>If bullshit is found in the analysis, it gets posted directly to the culprit’s social channels.</p></li>
	</ul>
	</div>
</section>

<section class="case-study">
  <div class="wrap">
	<div class="explainer-bullshit">
		<em class="case-cracked">Case Cracked</em>
    <h3>The Poser Poster</h3>
		<p>John found himself rolling his eyes every time his friend posted to Facebook. He loved her to death, but knows she’s more of a five than a ten as far as cool points go. She needed a reality check, but John couldn’t be the one to do it. See how the Bullshit Sheriff handled the dirty work for him with a clean finish.</p>
    <a class="cta reveal-truth reveal-truth-facebook">Reveal the Truth</a>
     </div>
	<div class="module-wrap phone-module-wrap"><div class="module-screen phone-module frame-facebook"></div></div>
  </div>
</section>

<section class="case-study case-study-opposite">
  <div class="wrap">
	<div class="explainer-bullshit">
		<em class="case-cracked">Case Cracked</em>
    <h3>Chef-Boy-Ar-Bullshit</h3>
		<p>Jenny’s ex-boyfriend was constantly posting food porn shots and bragging about the ones he “made for himself.” Yet, why had he never offered to cook for her? If he really was a Batali in the kitchen, wouldn’t he want to woo her with his skills? Let’s take a look at the findings from our Bullshit Investigation.</p>
    <a class="cta reveal-truth reveal-truth-instagram">Reveal the Truth</a>
     </div>
	<div class="module-wrap phone-module-wrap"><div class="module-screen phone-module frame-instagram"></div></div>
  </div>
</section>

<section class="case-study">
  <div class="wrap">
	<div class="explainer-bullshit">
		<em class="case-cracked">Case Cracked</em>
    <h3>Links of Lies</h3>
		<p>The only thing worse than LinkedIn junk emails are the brown nosers that trigger them with activity updates. Dammit Larry! Do you actually crank out baller websites every week? Have you really received over 50 design awards? Thanks to an annoyed follower, the Bullshit Sheriff finally got to the bottom of it.</p>
    <a class="cta reveal-truth reveal-truth-linkedin">Reveal the Truth</a>
     </div>
	<div class="module-wrap phone-module-wrap"><div class="module-screen phone-module frame-linkedin"></div></div>
  </div>
</section>


<section class="sign-up">
	<div class="wrap">
		<div id="signup"><h3>Join the Waitlist</h3>
		<p>Together we can make social media a more honest place.</p>
			<%= partial "mc-signup" %>
		</div>
	</div>
</section>

<section class="hiring">
	<div class="wrap">
		<div class="hiring-points">
	<h3>We're hiring</h3>
	  <p>We need more sheriffs who are up to snuff. Think you have what it takes? Prove it. Use our starter kit below to start your trial run:</p>
		<ul>
			
			<li>Get one of these <a target="_blank" href="http://bullshitsheriff.spreadshirt.com/">totally legit uniforms</a></li>
			<li>Download the official <a href="#">Bullshit Sheriff Badges</a></li>
			<li>Start calling those fakers out using <strong>#BullshitSheriff</strong></li>
		</ul>
		<p>You can also <a href="#">send us</a> videos of you lifting weights or something.</p>
	</div>
	</div>
</section>




