---
title: Welcome to Middleman
---


<section>
  <div class="wrap">
	<div class="explainer-bullshit">
    <h3>Lorem Hashtag Henry</h3>
    <p>Street art roof party YOLO, stumptown scenester chia Blue Bottle freegan church-key pork belly fap art party kogi Intelligentsia. Distillery art party banjo slow-carb, cronut Williamsburg artisan Helvetica lo-fi iPhone Intelligentsia kogi. Cardigan typewriter cliche jean shorts, gluten-free iPhone selfies twee yr synth slow-carb literally sartorial Etsy.</p>
    <a class="cta reveal-truth reveal-truth-instagram">Reveal the Truth</a>
	<a href="/login">View White Paper</a>
    <div class="module-wrap phone-module-wrap"><div class="module-screen phone-module frame-instagram"></div></div>
 </div>
  </div>
</section>

<section class="test-section">
  <div class="wrap">
	  <div class="explainer-bullshit">
	    <h3>Lorem Wailing Walter</h3>
	    <p>Street art roof party YOLO, stumptown scenester chia Blue Bottle freegan church-key pork belly fap art party kogi Intelligentsia. Distillery art party banjo slow-carb, cronut Williamsburg artisan Helvetica lo-fi iPhone Intelligentsia kogi. Cardigan typewriter cliche jean shorts, gluten-free iPhone selfies twee yr synth slow-carb literally sartorial Etsy.</p>
	    <a class="cta reveal-truth reveal-truth-facebook">Reveal the Truth</a>
		<a href="/login">View White Paper</a>
	</div>	
    <div class="module-wrap monitor-module-wrap"><div class="module-screen monitor-module frame-facebook"></div></div>
  </div>
</section>

<section class="action-items">
  <div class="wrap">
	  <div class="col-left">
		  <div class="col-wrap">
		  	<%= partial "mc-signup" %>
		  </div>
	  </div>
	  <div class="col-right">
	  <div class="col-wrap"> 
		  We're hiring
		  <p>Want to join up? It's easy, just follow the steps below:</p>
		  <ul>
			  <li><a href="#">Download</a> the official bullshit caller badges and start using them on the web with hashtag #bullshitsheriff</li>
			  <li><a target="_blank" href="http://bullshitsheriff.spreadshirt.com/">Get your official uniform</a></li>
			  <li><a href="#">Email us</a> a video of you lifting weights, or something.</li>
			</ul>
		 
		</div>  
	  </div>
  </div>  
</section>